.brand {
  font-family: 'Segoe UI';
}

.navbar-inner .container {
  padding-left: 15px;
}

.bootstrapped-body {
  padding-top: 50px;        
}

.sidebar .well {
  padding: 10px;
}

.sidebar .well button {
  width: 100%;
  margin: 1px;
}

.content .well {
  padding: 10px;
}

.content .well .alert-error {
  width: 400px;
  margin: 0 auto;
}

video {
  display: block;
  border: 1px solid #CCC;
  width: 100%;
  height: 100%;
}